# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
content/authors/admin/.DS_Store
content/post/.DS_Store
content/post/starting-a-newsletter/.DS_Store
content/project/Data2Teach/.DS_Store
content/project/EMMA/.DS_Store
content/publication/.DS_Store
content/publication/drachsleretal-jcal16/.DS_Store
content/publication/henderikxetal-op21/.DS_Store
content/publication/jansenetal-jche16/.DS_Store
content/publication/kalzetal-unesco20/.DS_Store
content/publication/kaschetal-aehe21/.DS_Store
content/publication/rabinetal-ajet20/.DS_Store
content/publication/schophuizen-ihe18/.DS_Store
content/publication/tabuencaetal-tlt21/.DS_Store
content/publication/zawackietal-irrodl20/.DS_Store
content/publication/.DS_Store
